extends ../layout

block content
  header
    h1= title
  main
    p= welcomeMessage
    h2= vueTitle
    p= vueDescription1
    p= vueDescription2
    ul
      li= vueList1
      li= vueList2
      li= vueList3
    a(href=vueHref)= vueLink
    h2= basicTitle
    p= basicDescription1
    p= basicDescription2
    a(href=basicHref)= basicLink