extends layout

block content
  header
    h1= title
  main
    form(id='basicForm', action= basicFormHref, method='post')
      input(id='lang', name='lang', type='hidden', value= language)
      label(for='problemTitle')
        p= problemTitle
      input(id='problemTitle', name='problemTitle', type='text', size='50', required='true', maxlength=256)
      label(for='problemDescription')
        p= problemDescription
      textarea(id='problemDescription', name='problemDescription' rows='4', cols='51', required='true', maxlength=65536)
      label(for='inputSpeciﬁcation')
        p= inputSpeciﬁcation
      textarea(id='inputSpeciﬁcation', name='inputSpeciﬁcation', rows='4', cols='51', required='true', maxlength=65536)
      label(for='outputSpeciﬁcation')
        p= outputSpeciﬁcation
      textarea(id='outputSpeciﬁcation', name='outputSpeciﬁcation', rows='4', cols='51', required='true', maxlength=65536)
      label(for='programmingLanguage')
        p= programmingLanguage
      select(id='programmingLanguage', name='programmingLanguage', required='true')
        optgroup(label=contestLanguages)
          each item in contestLanguageOptions
             option(value=item['value'], disabled='true')= item['label']
        optgroup(label=additionalLanguages)
          each item in additionalLanguageOptions
            if item['value'] === 'crystal'
              option(value=item['value'])= item['label']
            else
              option(value=item['value'], disabled='true')= item['label']
      br
      br
      input(type='submit' value=submitButtonLabel)