extends layout

block content
  header
    h1= title
  main
    p= welcomeMessage
    a(href=languageHref)= languageLink
    h2= vueTitle
    each description in vueDescription
      p= description
    ul
      each item in vueList
        li= item
    a(href=vueHref)= vueLink
    h2= basicTitle
    each description in basicDescription
      p= description
    a(href=basicHref)= basicLink